.container {
    padding-bottom: 60px;

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .login_box {
    margin-top: 60px;
    padding: 60px;

    width: 750px;
    height: auto;

    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 6px;
    box-shadow: 0px 10px 50px 0px rgba(4, 30, 66, 0.05);
    background: rgb(255, 255, 255);
}

.container .login_box h2 {
    font-family: Jost;
    font-size: 30px;
    font-weight:600;
    line-height: 40px;

    color: rgb(4, 30, 66);
}

.container .login_box .input {
    margin-top: 5px;

    width: 608px;
    height: 116px;
}

.container .login_box .input label {
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;

    color: rgb(4, 30, 66);
}

.container .login_box .input input {
    margin-top: 10px;
    padding-left: 20px;

    width: 608px;
    height: 60px;
    
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(4, 30, 66);
    border-radius: 6px;
    box-shadow: 0px 10px 20px 0px rgba(4, 30, 66, 0.05);
    background: rgb(255, 255, 255);
}

.container .login_box .checkbox {
    width: 750px;
    height: auto;

    display: flex;
    
    box-sizing: border-box;
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    color: rgb(4, 30, 66);
}

.container .login_box .checkbox input {
    margin-right: 17px;

    width: 26px;
    height: 21px;

    box-sizing: border-box;
    border: 1px solid rgb(4, 30, 66);
    border-radius: 4px;
    cursor: pointer;
}

.container .login_box .checkbox span {
    margin-left: 320px;
    cursor: pointer;
}

.container .login_box .input_login {
    margin-top: 30px;

    width: 608px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid rgb(245, 195, 75);
    border-radius: 6px;
    box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
    background: rgb(245, 195, 75);

    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;

    color: rgb(4, 30, 66);
}

.container .login_box .create_account {
    margin-top: 43px;

    display: flex;
    justify-content: center;
    
    font-family: Jost;
    font-size: 16px;
    font-weight: 350;
    line-height: 28px;

    color: rgb(4, 30, 66);
}

.container .login_box .create_account strong {
    margin-left: 5px;

    cursor: pointer;
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;

    color: rgb(4, 30, 66);
}

.container .login_box .line_box {
    margin-top: 35px;

    width: 608px;
    height: 53px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .login_box .line_box .line {
    margin-top: 10px;

    width: 250px;
    height: 2px;

    border-bottom: 2px solid rgb(234, 234, 234);
    border-radius: 8px;
}

.container .login_box .line_box span {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    color: rgb(4, 30, 66);
}

.container .login_box .social_box {
    margin-top: 25px;

    width: 609px;
    height: 60px;

    display: flex;
    justify-content: space-between;
}

.container .login_box .social_box .facebook {
    width: 132px;
    height: 60px;
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid rgb(25, 103, 210);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.container .login_box .social_box .google {
    width: 132px;
    height: 60px;
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid rgb(217, 48, 37);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.container .login_box .social_box .twitter {
    width: 132px;
    height: 60px;
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid rgb(45, 154, 220);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.container .login_box .social_box .apple {
    width: 132px;
    height: 60px;
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid rgb(4, 30, 66);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}







































