.flex_container{
    display: flex;
    height: 100%;
    padding: 10px;
    flex-direction:row;
    background-color: rgb(233, 228, 222);
    flex-wrap: wrap;
    justify-content:flex-start;
    box-sizing: border-box;
    box-shadow: 5px 5px 40px;
    border-radius: 10px;
}


.box{
    width: 400px;
    height: 280px;
    padding: 60px 15px;
    background-color: rgb(13, 73, 73);
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px;
}